.main.container
    h2.main__title About me
    .main__content
        div 
            p My name is Artyom Voitas. I'm 21 years old and I live in Minsk (Belarus). I'm 4th year student of the Belarus State Economic University. 
            p In May 2022, Graduated from IT SHATLE courses with honors (HTML/CSS) and currently i'm learning JavaScript + React (also in IT SHATLE).
            p I want to become a frontend developer.
        img(src="./assets/imgs/my-photo.jpeg", alt="Avatar")


