include ../mixins/work.pug

section.main 
    .container 
        h2.main__title Works 
        .works
            +work({
                link: 'https://artyom-voitas.github.io/diploma_artyom_voitas/build/',
                img: "./assets/imgs/work_6.png",
                tech: 'Techs: Pug, SCSS, JS',
                time: 'Time: 48 hours'
            })
            +work({
                link: 'https://artyom-voitas.github.io/dz4_artyom_voitas/',
                img: "./assets/imgs/work_4.png",
                tech: 'Techs: HTML, CSS',
                time: 'Time: 24 hours'
            })
            +work({
                link: 'https://artyom-voitas.github.io/dz5_artyom_voitas/build',
                img: "./assets/imgs/work_5.png",
                tech: 'Techs: Pug, SCSS, JS',
                time: 'Time: 8 hours'
            })
            +work({
                link: 'https://artyom-voitas.github.io/dz3_artyom_voitas/',
                img: "./assets/imgs/work_3.png",
                tech: 'Techs: HTML, CSS',
                time: 'Time: 12 hours'
            })
            +work({
                link: 'https://artyom-voitas.github.io/dz2_artyom_voitas/',
                img: "./assets/imgs/work_2.png",
                tech: 'Techs: HTML, CSS',
                time: 'Time: 3 hours'
            })
            +work({
                link: 'https://artyom-voitas.github.io/dz1_artyom_voitas/',
                img: "./assets/imgs/work_1.png",
                tech: 'Techs: HTML, CSS',
                time: 'Time: 2 hours'
            })