doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Portfolio
        link(rel="stylesheet", href="./assets/css/vendors.min.css")
        link(rel="stylesheet", href="./assets/css/app.css")
        link(rel="apple-touch-icon", sizes="x", href="./assets/imgs/icons/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="./assets/imgs/icons/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="./assets/imgs/icons/favicon-16x16.png")
        link(rel="manifest", href="./assets/imgs/icons/site.webmanifest")
        link(rel="mask-icon", href="./assets/imgs/icons/safari-pinned-tab.svg", color="#5bbad5")
        link(rel="shortcut icon", href="./assets/imgs/icons/favicon.ico")
    body 
        include components/header.pug
        include components/main.pug
        include components/skills.pug
        include components/works.pug

        script(src="./assets/js/vendors.min.js")
        script(src="./assets/js/app.js")
